# **วิถีซามูไร**

<p class="text-xs -mt-6 text-base-content/70">11 มกราคม 2569</p>

วันนี้ผมได้มีโอกาสดูคลิป [7วิถีซามูไร](https://www.youtube.com/watch?v=7uJnZsrTTVM)แแล้วประทับใจเป็นอย่างมากผมรู้สึกถึงเส้นทางการเดินทางในวัยเด็กพร้อมกับการ์ตูนที่ตราตรึงใจผมมากๆเรื่องหนึ่งคือซามูไรแชมพู และเวกาบอน

ก็ไม่ค่อยเข้าใจนัดว่าทำไมถึงประ ทับใจการ์ตูนสองเรื่องนี้นัดจนได้ดูคลิปที่ว่ามา

อาชีพซามูไรนั้นเป็นอาชีพที่แทบไม่เหมาะกับการเป็นอาชีพเลย เพราะเป็นอาชีพที่แค่คุณพยายามจะลองชีวิตคุณก็อาจจบสิ้นได้ ความตายเป็นเรื่องง่าย อาจจะง่ายกว่าการมีชีวิตอยู่ด้วยซำ้ด้วยซ้ำ

พร้อมตาย แต่ไม่คิดจะทิ้งชีวิต

อาชีพซามูไรนั้นเป็นอาชีพที่แทบไม่เหมาะกับการเป็นอาชีพเลย เพราะเป็นอาชีพที่แค่คุณพยายามจะลองชีวิตคุณก็อาจจบสิ้นได้ ความตายเป็นเรื่องง่าย อาจจะง่ายกว่าการมีชีวิตอยู่ด้วยซ้ำ

จุดสุดท้ายทีมนักดาบในการ์ตูนส่วนใหญ่มักจะเจอเมื่อคุณไปถึงจุดสูงสุดของวิชาแล้ว คุณจะได้เห็นสิ่งใดกันแน่และเราได้ละทิ้งอะไรไปบ้างในระหว่างทาง การหาคำตอบกับสิ่งนี้ดูจะเป็นเรื่องยากเพราะมีไม่มากเท่าไหร่ที่มีชีวิตจนไปถึงจุดสูงสุดจริงๆ

ในชีวิตเราเองก็เหมือนกันหากไม่ต้องคำถามว่าจุดสูงสุดของสิ่งที่เราจะไปถึงเราจะได้ทัศนะเห็นบรรยากาศอะไรบ้าง

ในเรื่องเมกาบอน แม้มูซาชิจะได้ชื่อจากสังคมว่าเป็นนักดาบอันดับหนึ่งแต่ก็เหมือนว่ารที่ว่าสูงสุดสู่สามัญสุดท้าย ด้วยโชคชะตาที่ต้องหลบหนีการนอนไล่ล่าเค้าก็ได้มาอยู่ในหมู่บ้านที่ไม่มีใครรู้ถึงเบื้องหลังของเค้าและตอนนั้นเองเป็นวันที่เค้าอาจจะรู้สึกเล็กๆว่าเขาได้สละชื่อของ การเป็นนักดาบทิ้งไปอาจจะสละ แม้กระทั่งชื่อของตนที่ว่ามูซาชิ

นี่เป็นตอนที่ผมก็รู้สึกว่างดงามมากๆว่าคนคนหนึ่งที่มีอดีตที่ทำเรื่องผิดพลาดไว้มากก็อาจจะรู้สึกปรับตัวเริ่มใหม่ได้มันไม่จำเป็นที่อดีตที่เราทำมา จะเป็นตัวบ่งชี้เราในอนาคตต่อไปคนทุกคนก็เคยพลาดมาก่อนเพราะฉะนั้นหากคุณจะพลาดบ้างมันก็ไม่แปลกแต่ถ้าคุณยอมรับเข้าใจเพื่อปรับปรุงตัวให้ไม่พลาดอีกในอนาคตผมว่านี่แหละก็เป็น เส้นทางของซามูไรเช่นกัน

เหมือนดังชีวิตที่สบั้นให้ขาดได้ในดาบเดียว การตัดสินใจเปลี่ยนแปลงตนเองก็สามารถเกิดขึ้นได้ในดาบเดียวเช่นกัน




