---
slug: "love-is-war"
title: "Love Is War ตัวเองที่สร้างเป็นตัวเองหรือไม่"
date: "20 มกราคม 2569"
tags: anime
---

> TLDR; ตัวเอกพยายามมากที่จะทำให้ดีที่สุด<br>
> แต่การเป็น “ตัวเองที่ดีที่สุด”<br>
> อาจไม่ใช่สิ่งที่ความรักต้องการ

การ์ตูนเรื่องนี้เป็นเรื่องที่ผมชอบมาตั้งแต่ season 1-2 และวันนี้เพิ่งได้ดู season 3 จนถึงตอนล่าสุด *Kaguya-sama: Love Is War - Stairway to Adulthood* ที่ปล่อยเมื่อ 31 ธ.ค. 2025 (แต่ผมมาดูหลังจากนั้นประมาณ 20 วัน) ตั้งแต่เพื่อนบอกว่า “พระเอกนางเอกสารภาพรักกันแล้วนะ” บวกกับชื่อตอนที่ใช้คำว่า *Adulthood* มันทำให้ผมตื่นเต้นอยู่พอสมควร

![love is war member](/4.1.jpeg)

## เนื้อเรื่อง

ถ้ามองที่ตัวละคร เรื่องนี้คือเรื่องของพระเอกที่ไม่ได้มีอะไรโดดเด่นเป็นพิเศษ แต่เพราะอยากเป็นคนที่ยืนอยู่เคียงข้างนางเอก ซึ่งเก่งทั้งฐานะและการเรียน เขาจึงเลือกดันตัวเอง ปรับตัวเอง จนสามารถขึ้นมาเป็นประธานนักเรียนได้

แม้พระเอกและนางเอกจะชอบกัน แต่ความสัมพันธ์กลับเริ่มจากการแข่งขัน ทั้งคู่แสดงออกว่าเป็นคู่แข่ง เพราะไม่มีใครอยากเป็นฝ่ายที่ยอมแพ้ก่อน ในเกมรักนี้ **คนที่สารภาพรักก่อน คือคนแพ้** ซึ่งเป็นแก่นของเรื่องใน season 1-2



ใน season 3 เรื่องราวถูกบีบด้วยเวลา พระเอกต้องไปเรียนต่อ และเวลาที่มีร่วมกันก็น้อยลงเรื่อย ๆ การเตรียมบอกรักจึงไม่ใช่แค่เรื่องของความรู้สึก แต่เป็นเรื่องของการตัดสินใจ แม้ทั้งคู่จะได้รู้ความในใจกันแล้ว แต่การทำลายหน้ากากที่สร้างมานานกลับไม่ใช่เรื่องง่าย

ในมุมของฝ่ายชาย การพยายามทำทุกอย่างให้ดีที่สุดกลายเป็นทั้งแรงผลักและแรงกดดัน และในบางจุดมันก็ทำร้ายตัวเองไปพร้อมกัน แต่ท้ายที่สุดทั้งคู่ก็สามารถปรับความเข้าใจกันได้ โดยค่อย ๆ ก้าวผ่านความไม่ปลอดภัยทางอารมณ์ของตัวเอง

![dual male-female friend](/4.2.jpeg)

## โลกจริงไม่สนุกแบบนั้น

แม้เรื่องนี้จะจบด้วยความสมหวัง แต่ถ้าลองถอดบทเรียนออกมา การพยายามไล่ตามอะไรสักอย่างมันเป็นพลังจริง แต่ก็เป็นพลังที่ให้ได้ทั้งคุณและโทษ โดยเฉพาะเรื่องความรัก มันไม่ใช่สิ่งที่วัดผลได้ด้วยความพยายามเพียงอย่างเดียว

บางคนได้กันไม่ใช่เพราะพยายามมากกว่า แต่เพราะจังหวะตรงกัน และเมื่อถึงเวลาที่ต้องแยก ต่อให้ยังอาลัย ก็ต้องแยกกันอยู่ดี ไม่ใช่เพราะใครผิด แต่เพราะไม่มีใครสามารถยื้อเวลาไว้ได้ตลอด

## อิชิงามิ is the GOAT

อีกตัวละครที่ผมชอบไม่แพ้กันคือพระรองอย่าง **อิชิงามิ** เขาเป็นคนที่ทำดีแต่กลับถูกคนรอบข้างเกลียด พูดความจริงแต่กลายเป็นตัวร้าย อิชิงามิเหมือนคนที่แพ้ในระบบตั้งแต่ยังไม่ได้เริ่มแข่ง

แม้จะแพ้ แต่เขาไม่เคยเลือกเป็นคนเลว ยังมีมโนธรรม ยังมีความรับผิดชอบ และยังใส่ใจคนรอบข้างอยู่เสมอ เขาไม่ปฏิเสธตัวเอง แม้จะถูกรายล้อมด้วยผู้ที่ดูประสบความสำเร็จมากกว่า

อิชิงามิไม่ได้บอกว่า “ความเจ็บทำให้ผมแกร่งขึ้น” เขาแค่บอกว่า  
> มันยังเจ็บอยู่  
> แต่ผมจะไม่ใช้มัน  
> เป็นข้ออ้างในการทำร้ายคนอื่น

เขาเรียนรู้และปรับตัวในแบบของเขาเอง แม้ภายนอกจะดูเหมือนไม่เปลี่ยนไป นี่คือการเติบโตภายในที่ไม่จำเป็นต้องมีใครเห็น

โดยรวมแล้วเป็นซีรีส์ที่ดูเพลิดเพลินมาก แค่น่าเสียดายตรงที่ชีวิตผมห่างจากเรื่องรัก ๆ ใคร่ ๆ มานานแล้ว เลยอาจจะไม่ได้อินเท่าสมัยก่อน แต่ก็เป็นเรื่องที่ได้จบลงอย่างเหมาะสม และลงตัวที่สุดเท่าที่ควรจะเป็น