---
slug: "love-is-suffering"
title: "มีรักก็มีทุกข์"
date: "24 กุมภาพันธ์ 2569"
tags: dhamma, love, philosophy
expand: true
---

เป็นเรื่องไม่บ่อยนักที่เราจะรักใคร บางครั้งมันก็มาแล้วก็ไป แต่ถ้าพูดถึงความรักที่มันยาวนานมากๆหละ รักที่แม้นานแค่ไหนก็จะกลับมาคิดอยู่

สิ่งนี้เป็นความบีบคั้นอย่างหาสุดซึ้งเลยหละ จึงไม่แปลใจเลยที่พระพุทธองค์ยกเรื่องความรักเป็นหนึ่งในสิ่งที่ตัดใจได้ยาก


ทุกความสัมพันธ์ที่จิตใจปรุงแต่งมากแค่ไหน เราก็ยิ่งโดนย้อมมากเท่านั้น

บางทีก็แปลก เมื่อโอกาสยังมี เราก็ลอยเนื้อลอยใจไม่รีบร้อน
แต่เมื่อโอกาสได้จบลง กลับเสียดายที่ไม่ได้ทำ

<img alt="Particle light dust free" src="/8.jpg" class="max-h-[70vh] mx-auto">

> โอ้.. แท้จริงความรักคือความเสียดายหรอกหรือ

น่าตลกนักว่าถ้ามันแค่ความเสียดายทำไมเสียดายนัก ทำไมเจ็บนัก

ดอกไม้งาม เมื่อเหียวเฉาใจเราก็สลดลงได้

ไม่ว่าการจากลา ของคนที่อาวรจะร้องดังแค่ไหน<br>
ฟ้าดินก็ไม่เคยให้โอกาสให้อีกครั้งราวกับจะเฆี่ยนให้เข็ดหลาบ

แต่ในท้ายที่สุด ทุกสิ่งในจักวารที่กว้างใหญ่นี้ก็ต้องกระจัดกระจายตามเงื่อนไขของธรรมชาติ

ขนาดผู้คนก็ไม่ได้มาพร้อมกัน จะหวังให้ไปพร้อมกันคงไม่ได้

> หากมองจากมุมดอกไม้ดอกเดียว
> คงเป็นเรื่องน่าเศร้าหากดอกไม้ที่เคยบานจะเหี่ยวและหายไป

> แต่ถ้ามีจิตใจที่กว้างขวางที่จะมองฤดูการ
> ดอกไม้ย่อมเหี่ยวและบ้านเป็นปกติ

ผู้ที่วางใจในทุกสิ่งได้ ต้องมีมุมมองที่กว้างขวางเช่นนั้นด้วย มิเช่นนั้น ความรักจะเป็นความร้าย

เหมือนท่อนหนึ่งในเพลง [Delusion:All](https://youtu.be/TmwCl9wUrC8?si=90VeLJXNzL53e98Z) ของ ONE OK ROCK


> I know
> In order to be free, you gotta let go<br>
> But know that once you do
> That's when they take hold<br>
> Everything's fair in love and war, so

> But maybe we're delusional

เพื่อจะเป็นอิสระ เราต้องปล่อยไป...

เป็นสัจธรรมที่ทำได้ยากจริงๆ เพราะสิ่งนี้เป็นภาพมายาของจิตใจที่สะสมมานาน

หากวันใดเธอได้พ้นจากสิ่งเหล่านี้ นั้นคงเป็นอิสรภาพที่น่ายินดียิ่งเชียวหละ

