@import "tailwindcss";
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@plugin 'daisyui' {
    themes: pastel --default;
}

@layer base {
    /* Force the site to use a light color scheme and opt out of forced dark mode */
    :root {
        color-scheme: light;
        -webkit-color-scheme: light;
        --font-sans: "FC Pride", sans-serif;
    }

    html,
    body {
        background-color: var(--color-base-100);
        color: var(--color-base-content);
    }
    /* Custom fonts */
    @font-face {
        font-family: "FC Pride";
        src: url("../lib/assets/fonts/FC Pride [Non-commercial].otf") format("opentype");
        font-display: swap;
    }
    @font-face {
        font-family: "MN Ice Cream Vanilla";
        src: url("../lib/assets/fonts/MN Ice Cream Vanilla.ttf") format("truetype");
        font-style: normal;
        font-weight: 400;
        font-display: swap;
    }

    @font-face {
        font-family: "MN Ice Cream Vanilla";
        src: url("../lib/assets/fonts/MN Ice Cream Vanilla Italic.ttf") format("truetype");
        font-style: italic;
        font-weight: 400;
        font-display: swap;
    }
}
