@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@plugin 'daisyui' {
    themes: pastel --default;
}

@layer base {
    /* Force the site to use a light color scheme and opt out of forced dark mode */
    :root {
        color-scheme: light;
        -webkit-color-scheme: light;
        --font-sans: 'MiSansThai', sans-serif;
        font-weight: 300;
        letter-spacing: 0.025em;
        font-size: 17px;
    }

    html,
    body {
        background-color: var(--color-base-100);
        color: var(--color-base-content);
    }

    /* Custom fonts */
    @font-face {
        font-family: 'MiSansThai';
        src: url('../lib/assets/fonts/MiSansThaiVF.woff2') format('woff2-variations');
        font-weight: 100 900;
        font-style: normal;
    }
}

.prose {
    max-width: 90ch;
}
.prose blockquote p::before,
.prose blockquote p::after {
    content: none;
}
.prose blockquote p {
    @apply py-3 text-center font-normal;
}
.prose blockquote {
    @apply border-l-4 bg-base-200 pl-4;
}
.prose h2 {
    font-size: 1.35rem;
}
.prose h1,
.prose blockquote p,
.prose p {
    text-wrap: balance;
}
